*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */
}

html{
    font-family: sans-serif;
}

body{
    height: 10000px;
    font-size: large;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

button{
    border-color: #B4D0E7;
    background-color: #0061FF;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100px;

    align-items: center;

    background-color: white;
}

header div ul{
    display: flex;
    justify-content: space-around;
    
    padding-inline: 20px;
    gap: 20px;
}

header div ul li button{
    width: 100px;
}

.jumbo{
    background-color: #B4D0E7;
    height: 800px;
}

.jumbo h1{
    text-align: center;
    padding-top: 50px;
}

.jumbo div:first-child{
    width: 70%;
    margin: 0 auto;
}

.jumbo-content{
    display: flex;
    line-height: 180%;
}

.jumbo h1{
    font-size: 5em;
    margin-block: 100px;
}

.jumbo-content button{
    width: 300px;
    margin-block: 30px;
    padding: 20px;
}

.jumbo-content div ul li{
    margin-block: 20px; 
}

.jumbo-content a i{
    font-size: 50px;
    color: black;
}

.jumbo-content figure img{
    width: 1000px;
}

main{
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
}

.first-section .button-area{
    margin-block: 50px;
}

.first-section .button-area label input{
    margin-top: 100px;
    margin-bottom: 30px;
}

.business-plans{
    display: flex;
    gap: 50px;
}

.tag{
    text-align: center;
}

.business-plans *{
    padding: 5px;
}

.business-plans{
    margin-bottom: 100px;
}

.professional,
.advanced,
.enterprise {
    border: 1px solid #F3F3F4;
}

.tag{
    border-bottom: 1px solid #F3F3F4;
    padding: 5px;
}

.cta{
    display: flex;
    flex-direction: column;
}

.enterprise-2 *{
    padding: 10px;
}

.enterprise-2{
    border: 1px solid #F3F3F4;
}

.enterprise-2 .tag{
    padding: 10px;
}

.enterprise-2 .sales{
    display: flex;
    justify-content: space-between;
}

.second-section{
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.second-section img{
    width: 600px;
}

.partner-text h2, 
.partner-text p, 
.partner-text a{
    margin-block: 50px;
}

.partner-text a{
    
    padding: 20px;
    border: 1px solid black;
    background-color: white;

}